@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Zen+Maru+Gothic&display=swap');

* {
    /* outline: solid 1px #000; */
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}

li {
    list-style-type: none;
}
h1,h2,h3{
    font-family: 'Josefin Sans', sans-serif;
    color: #4C4948

}

p{
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #4C4948

}

a{
    color:#4C4948;
    text-decoration:none;
    transition: .5s
}

a:hover{
    color:#8a7a75;
    transition: .5s

}

nav{
    background-color: #F0F0F0;
}

input{
    border: none;
    background-color: #fff;
    height: 50px;
}

/* fonts */
.eng-font{
    font-family: 'Josefin Sans', sans-serif;
    color: #4C4948
}

.num-stroke-font{
    font-family: 'Josefin Sans', sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.5px #4C4948
}

.kanji-font{
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #4C4948
}

footer {
    background-color: #4C4948;
}

.footer-btn {
    border: none;
    background-color: #fff;
    padding: 0.5rem 3rem;
    color: #4C4948;
    transition: .5s;
    font-family: 'Josefin Sans', sans-serif;
}

.footer-btn:hover {
    border-radius: 10px;
    transition: .5s;
}

.submit-btn {
    border: none;
    background-color: #4C4948;
    padding: 0.5rem 5rem;
    color: #fff;
    transition: .5s;
    font-family: 'Josefin Sans', sans-serif;
}

.submit-btn:hover {
    border-radius: 10px;
    transition: .5s;
}